* {
    margin: 0;
    padding: 0;
}

body {
    background-color: /*#f7f7f7*/ white;
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', 'Nimbus Sans L', 'Liberation Sans', 'Open Sans', FreeSans, Arial, sans-serif;
}

#menu {
    display: block;
    position: absolute;
    float: right;
    width:25px;
    height:25px;
    right:7px;
    margin: 10px 10px;
    text-align:center;
    border-radius:2px;
}

#menu:hover {
    background-color:gray;
}

#menu > a:hover {
    color:white;
}

#menu > a {
    font-size:18px;
}

a, a:visited {
    text-decoration:none;
    color: #2a92d4
}

.logo {
    width: 125px;
    height: 175px;
}

#container {
    border-top: 4px solid #2a92d4;
    width: 100%;
}

.search {
    padding-top: 100px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

form#query {
    margin: 0 auto;
    width: 70%;
    max-width:800px;
    height: 50px;
    border: 1px solid #cccdc8;
    border-radius: 2px;
    padding-left: 0.75em;
    background: white;
}

.tips > p {
    font-size:16px;
    color: #9a9a9a;
}

form#query, .tips > p {
    margin-top:25px;
}

form#query > input[name="q"] {
    display: block;
    font-size: 1.1em;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}

.results {
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}

.results > a > .logo {
    margin-left: 25px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
    display:inline-block;
    float: left;
}

.results > form#query {
    display:inline-block;
    height: 35px;
    margin: 25px;
}

form#query > input[type="submit"] {
    display:inline-block;
}

.tips {
    margin-top:10px;
}

.tips > span {
    cursor: pointer;
    color: gray;
    font-size: 25px;
}

.tips > p {
    display: none;
}

.tips > span.active {
    color: black;
}

.entries {
    width: 50%;
}

.entries > .controls {
    display: inline-block;
    width: 100px;
}

.entries > .entry {
    margin-bottom: 25px;
}

.entry:hover {
    background: #e3e3e3;
}

.entry > .title {
    font-size:18px;
    font-weight:500;
    color: #333;
}

.entries {
    display:inline-block;
    float:left;
}

.bibliography {
    display:inline-block;
    width:50%;
    min-height: 400px;
}
.bibliography, .entries {
    margin-top: 30px;
}

.bibliography > h2, .entries > h2 {
    text-align:center;
}

.testimonials {
    background-color: #f7f7f7;
    position: absolute;
    bottom: 0;
    padding: 50px 0;
    width: 100%;
    text-align:center;
}

.testimonials:before {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-right-width: 28px;
    border-left-width: 28px;
    border-top-width: 22px;
    border-bottom-width: 0;
    border-top-color: #fff;
}

.testimonial {
    margin:0 auto;
    display:inline-block;
    height:100px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.testimonials > h3 {
    font-weight: 200;
    color: #9a9a9a;
    text-align:center;
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', 'Nimbus Sans L', 'Liberation Sans', 'Open Sans', FreeSans, Arial, sans-serif;
}

#studenttorget.testimonial {
    background-image: url('/img/testimonials/studenttorget.png');
}

#universitetsavisa.testimonial {
    background-image: url('/img/testimonials/universitetsavisa.png');
}

#gemini.testimonial {
    background-image: url('/img/testimonials/gemini.png');
}

#oblad.testimonial {
    background-image: url('/img/testimonials/oblad.png');
}
