* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", FreeSans, Arial, sans-serif;
}

body {
  background-color: #F7F7F7;
}

#bar {
    display: flex;
    align-items: center;

    padding: 25px;
    width: 100%;
    height: 100px;
    background-color: #F7F7F7;
}

#bar #logo {
    float: left;
    margin-left: 25px;
    height: 70px;
}

#bar form {
    display: inline-block;
    margin-left: 25px;
}

#bar form input {
    height: 20px;
    width: 400px;
    font-size: 16px;
    padding: 25px;
    background-color: white;
    border: 0;
}

#bar form button {
    font-size: 16px;
    height: 70px;
    width: 70px;

    background-color: white;
    border: 0;
}


#search {
    margin-top: 100px;
    text-align: center;
}

#search #logo {
    width: 200px;
    height: 200px;
}

#search form {
    width: 600px;
    margin: 50px auto;
}

#search form input {
    height: 20px;
    width: 400px;
    font-size: 16px;
    padding: 25px;
    background-color: white;
    border: 0;
}

#search form button {
    font-size: 16px;
    height: 70px;
    width: 70px;

    background-color: white;
    border: 0;
}

#results {
  width: 100%;
  height: 100%;
  background-color: white;
}

#results .shelf {
    display: flex;
    width: 50%;
    margin-left: 50px;
    margin-bottom: 50px;
    border-bottom: 20px solid #BE7D4D;
}

#results .shelf .book {
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: -4px;
}

#results .shelf .book img {
    max-height: 150px;
}
