[submodule "bibliographies/styles"]
	path = bibliographies/styles
	url = git@github.com:michaelmcmillan/styles.git
[submodule "bibliographies/locales"]
	path = bibliographies/locales
	url = git@github.com:michaelmcmillan/locales.git
