[submodule "src/bibliography/schema"]
    path = src/bibliography/schema
    url = https://github.com/citation-style-language/schema.git
[submodule "src/bibliography/locales"]
    path = src/bibliography/locales
    url = https://github.com/citation-style-language/locales.git
[submodule "src/bibliography/styles"]
    path = src/bibliography/styles
    url = https://github.com/citation-style-language/styles.git
