<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>LittList</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/style-mobile.css" media="screen and (max-width: 480px), screen and (max-height: 470px)" />
        {{> opengraph }}
        {{> icons}}
    </head>
    <body>
        <div id="container">
{{{body}}}
        </div>

        {{> analytics }}
    </body>
</html>
