<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LittList</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <div id="container">
          <div id="menu">
            <a href="#">&#9776;</a>
          </div>
          {{{body}}}
    </div>
  </body>
</html>
