<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>LittList</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/ionicons.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="container">
            <div id="menu">
                <a class="ion-navicon-round" href="#"></a>
            </div>
{{{body}}}
        </div>
    </body>
</html>
