<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>LittList</title>
        <meta name="description" content="Lag litteraturlister og kildelister automatisk! Denne siden gjør jobben for deg slik at du ikke trenger å stresse. Søk etter bøkene eller nettsidene du har brukt og voila så har du en gyldig og validert litteraturliste." />
        <link rel="stylesheet" href="/css/loading.css" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/style-mobile.css" media="screen and (max-width: 480px), screen and (max-height: 470px)" />
        <link rel="stylesheet" href="/css/gh-fork-ribbon.min.css" />
        <script type="text/javascript" src="/js/pace.min.js"></script>
        <!--[if lt IE 9]>
          <link rel="stylesheet" href="/css/gh-fork-ribbon.ie.min.css" />
        <![endif]-->
        {{> opengraph }}
        {{> icons}}
        {{> inspectlet }}
    </head>
    <body>
        <div id="container">
{{{body}}}
        </div>
        {{> analytics }}
    </body>
</html>
