        <div class="search">

            <a href="/"><img class="logo" src="/img/logo.png"></a>

            <form id="query" method="get">
                <input type="text" name="q" autofocus>
            </form>

            <div class="tips">
                <p class="tip">Søk etter bøker, nettsider eller forfattere.</p>
                <p class="tip">Lim inn en Wikipedia-lenke for å legge til dens referanser.</p>
                <p class="tip">LittList støtter Store norske leksikon (SNL.no).</p>
                
                <span>·</span>
                <span>·</span>
                <span>·</span>
            </div>
        </div>

        <script type="text/javascript" src="/js/tips.js"></script>
