            <div class="github-fork-ribbon-wrapper right">
                <div class="github-fork-ribbon">
                    <a href="https://github.com/michaelmcmillan/littlist">Fork på GitHub</a>
                </div>
            </div> 

            <div class="search">
                <a href="/"><img class="logo" src="/img/logo.png"></a>

                <form id="query" method="get">
                    <input type="text" name="q" placeholder="Søk etter bøker, nettsider eller forfattere" autofocus>
                    <button type="submit">Søk</button>
                </form>

                {{> tips}}
            </div>

            {{> testimonials}}
