        <div class="search">

            <a href="/"><img class="logo" src="/img/logo.png"></a>
            <h1 class="title">LittList</h1>

            <form id="query" method="get">
                <input type="text" name="q" autofocus>
            </form>
            <p>Søk etter bøker, nettsider eller forfattere.</p>
        </div>
