<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LittList</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      <div id="container">

        <div class="search">
            <img class="logo" src="/img/logo.png">
            <h1 class="title">LittList</h1>
            <form id="query" method="post">
                <input type="text">
                <p>Søk etter bøker, nettsider eller forfattere.</p>
            </form>
        </div>
    </div>
  </body>
</html>
