{{> searchbar }}

<div class="list">
    
    {{#if displayFeedback}}
        {{> like }}
    {{/if}}
    
    <form method="post" action="/liste">
        <div class="settings">
                {{#if count}}
                <button type="submit" class="remove" name="removed" value="true">Fjern valgte</button>
                {{/if}}
                <select name="style">
                    {{#each supportedStyles}}
                    <option {{#if selected}} selected {{/if}} value="{{file}}">{{name}}</option>
                    {{/each}}
                </select>
                <button class="change-style" type="submit" name="styled" value="true">Bytt referansestil</button>
                <button class="copy">Kopier litteraturlisten</button>
        </div>
        <div class="a4">
                <h2>Litteraturliste</h2>
                {{{list}}}
        </div>
    </form>
    <script type="text/javascript" src="/js/ZeroClipboard.min.js"></script>
    <script type="text/javascript" src="/js/copy.js"></script>
</div>
