{{> searchbar }}

<div class="list">
    <div class="settings">
        <button id="copy-button" data-clipboard-text="Copy Me!" class="copy">Kopier litteraturlisten</button>
        <form method="post" action="/liste">
            <select name="style">
                {{#each supportedStyles}}
                <option {{#if selected}} selected {{/if}} value="{{file}}">{{name}}</option>
                {{/each}}
            </select>
            <button class="change-style" type="submit">Bytt referansestil</button>
        </form>
    </div>
    <div class="a4">
        <form method="post" action="/liste">
            <h2>Litteraturliste</h2>
            {{{list}}}
        </form>
    </div>
    <script type="text/javascript" src="/js/ZeroClipboard.min.js"></script>
    <script type="text/javascript" src="/js/copy.js"></script>
</div>
