{{> searchbar }}

<div class="list">
    <div class="settings">
        <form method="post" action="/liste">
            <select name="style">
                <option value="harvard">Harvard</option>
                <option value="oxford">Oxford</option>
                <option value="chichago">Chichago</option>
            </select>
            <button type="submit">Lagre endringer</button>
        </form>
    </div>
    <div class="a4">
        <h2>Litteraturliste</h2>
        {{{list}}}
    </div>
</div>
