        {{> searchbar data}} 

        <div class="page">
            <div class="login">
                <h1>Logg inn</h1>
                <form method="post" action="/innlogging">
                    <input type="text" name="email" placeholder="E-postadresse" required />
                    <input type="password" name="password" placeholder="Passord" required />
                    <button type="submit">Logg inn</button>
                </form>
            </div>
        </div>
