        {{> searchbar data}} 

        <div class="page">
            <div class="posts">
                <div class="post">
                    <div class="meta">
                        <h2 class="title">Ny versjon av LittList</h2>
                        <span class="published">Skrevet 26/04/2015</span>
                        <span class="author">Av Michael</span>
                    </div>
                    <div class="content">
                        <p>
                            Som følge av eksamensprokrastinering har jeg programmert om den forrige 
                            versjonen av LittList til en ny og forbedret utgave. Fra et brukerperspektiv
                            er det kanskje ikke så mye som virker annerledes, men bak sceneteppet
                            er det gjort en haug med utskiftelser og oppgraderinger som gjør det mye 
                            enklere for meg å vedlikeholde siden og implementere ønsker fra brukerne.
                        </p>

                        <p>
                            På den forrige versjonen var det en "Feedback" side som lot brukere foreslå
                            og stemme på funksjoner eller endringer de ønsket at jeg skulle legge inn.
                            I løpet av kort tid tikket det inn en rekke gode forslag. Feedback-siden er 
                            noe jeg kommer til å fortsette å ha på den nye siden også.
                        </p>
                        
                        <p>
                            Det <a href="http://litteraturlistegenerator.uservoice.com/forums/232108-general/suggestions/5225002-gj%C3%B8re-prosjektet-open-source">mest oppstemte
                            forslaget</a> ble lagt inn av Even Holthe, han foreslo å gjøre LittList til
                            åpen kildekode. Følgelig har jeg valgt å gjøre dette ved å legge ut hele kildekoden
                            på <a href="http://github.com/michaelmcmillan/littlist">GitHub</a>. Dette betyr
                            at hvem som helst kan se hvordan LittList fungerer under panseret og at alle kan 
                            bidra i å utvikle.
                        </p>

                        <p>
                            Her er en liste over alle de nye og endrede funksjonene.
                            <ul>
                                <li>Tre nye referansestiler: AMA, APA 6th og Vancouver.</li>
                                <li>Enklere å fjerne referanser som har blitt lagt til.</li>
                                <li>Når du er fornøyd med innholdet i listen kan du nå klikke på <em>"Kopier litteraturliste"</em> for å kopiere til utklippstavlen.</li>
                                <li>Støtte for Store <a href="http://snl.no">Norske Leksikon</a> (SNL) referanser.</li>
                                <li>Rettet opp i Bibsys-feil der forfattere ble duplisert i litteraturlisten.</li>
                                <li>Søk etter forfattere, bøker og ISBN går nå <a href="http://i.imgur.com/rfFWukr.gif">10x raskere.</a></li>
                            </ul>
                        </p>
                        
                        <p>
                            Jeg kommer til å skrive om fremtidig endringer her. Vi snakkes!
                        </p>
                    </div>
                </div>
            </div>
        </div>
