        {{> searchbar}} 

        <div class="entries">
        {{#each results}}    
            <div class="entry">
                <h2 class="title">{{getTitle}}</h2>
                <p>
                    {{#each getAuthors}}
                        {{getForename}} {{getSurname}}, 
                    {{/each}}
                </p>
            </div>
        {{/each}}
        </div>
