        {{> searchbar data}} 

        <div class="page">
            <div class="signup">
                <h1>Registrer deg</h1>
                <p>
                    Det er helt gratis å registrere seg.
                </p>
                <form method="post" action="/registrering">
                    <input class="input" type="email" name="email" placeholder="E-postadresse" required />
                    <input class="input" type="password" name="password" placeholder="Passord" required />
                    <button type="submit">Registrer deg</button>
                </form>
            </div>
        </div>
