        {{> searchbar data}} 

        <div class="page">
            <div class="signup">
                <h1>Registrer deg</h1>
                <form method="post" action="/registrering">
                    <input type="text" name="email" placeholder="E-postadresse" required />
                    <input type="password" name="password" placeholder="Passord" required />
                    <button type="submit">Registrer deg</button>
                </form>
            </div>
        </div>
