        {{> searchbar}} 

        <div class="entries">
        {{#each results.websites}}    
            <div class="entry">
                <h1>{{this}}</h1>
            </div>
        {{/each}}
        </div>
