        <link rel="stylesheet" href="/css/wikipedia.css">
        {{> searchbar}} 
        
        <div class="page">
            <div class="wikipedia-editor">
                {{{article}}}
            </div>
        </div>
