<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LittList{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="style.css?cache=0">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Litteraturlistegenerator som gjør livet ditt enklere."/>
    <meta property="og:site_name" content="LittList"/>
    <meta property="og:url" content="https://littlist.no/"/>
    <meta name="description" content="Lag litteraturlister automatisk.">
    <meta name="og:description" content="Lag litteraturlister automatisk.">
    {% block head %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62301312-1', 'auto');
      ga('send', 'pageview');
      {% if session['customer_id'] != 'anonymous' %}
      ga('set', 'userId', '{{ session['customer_id'] }}');
      {% endif %}
    </script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
