{% extends "base.html" %}
{% block title %} - Vis litteraturliste{% endblock %}
{% block body %}
    {% include 'bar.html' %}


    <form method="post">

        <div id="bibliography">

            <div id="toolbar">
                <button type="submit" name="remove">Fjern valgte</button>

                <select>
                    <option>Harvard</option>
                    <option>APA</option>
                </select>
                <button type="submit">Bytt stil</button>

                <a href="/paywall" id="clarify">Ferdig</a>
            </div>

            <div id="afour">
                <h2>Litteraturliste<h2>

            {% for identifier, reference in formatted_bibliography %}
                <input type="checkbox" name="identifier[]" value="{{ identifier }}" />

                {% if output == 'blur' %}
                <div class="reference">
                    <img src="data:image/png;base64,{{ reference }}" />
                </div>
                {% elif output == 'bibliography' %}
                {{ reference|safe }}
                {% endif %}

            {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}
