{% extends "base.html" %}
{% block title %} - Vis litteraturliste{% endblock %}
{% block body %}
    {% include 'bar.html' %}


    <form method="post">

        <div id="bibliography">

            <div id="toolbar">
                <select name="language">
                    <option value="norwegian-bokmål" {% if bibliography.language == 'norwegian-bokmål' %}selected{% endif %}>Bokmål</option>
                    <option value="norwegian-nynorsk" {% if bibliography.language == 'norwegian-nynorsk' %}selected{% endif %}>Nynorsk</option>
                    <option value="english" {% if bibliography.language == 'english' %}selected{% endif %}>Engelsk</option>
                </select>

                <select name="style">
                    <option value="apa" {% if bibliography.style == 'apa' %}selected{% endif %}>APA</option>
                    <option value="chicago" {% if bibliography.style == 'chicago' %}selected{% endif %}>Chicago</option>
                    <option value="harvard" {% if bibliography.style == 'harvard' %}selected{% endif %}>Harvard</option>
                    <option value="vancouver" {% if bibliography.style == 'vancouver' %}selected{% endif %}>Vancouver</option>
                    <option value="american-medical-association" {% if bibliography.style == 'american-medical-association' %}selected{% endif %}>American Medical Association</option>
                </select>
                <button type="submit">Endre</button>

                {% if blurred %}
                <a href="/paywall" id="clarify">Synliggjør listen med <img src="/vipps_button.png" /></a>
                <script>ga('send', 'event', 'paywall', 'button');</script>
                {% endif %}
            </div>

            <div id="afour">
                <h2>Litteraturliste<h2>

            {% for clear, reference, rendered in rendered_bibliography %}
                <button name="identifier" value="{{ reference.id }}" type="submit">✖</button>

                {% if clear %}
                {{ rendered|safe }}
                {% else %}
                <div class="reference">
                    <img src="data:image/png;base64,{{ rendered }}" />
                </div>
                {% endif %}

            {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}
