{% extends "base.html" %}
{% block title %} - Vis litteraturliste{% endblock %}
{% block body %}
    {% include 'bar.html' %}


    <form method="post">

        <div id="bibliography">

            <div id="toolbar">
                <select name="language">
                    <option value="norwegian-bokmål" {% if bibliography.language == 'norwegian-bokmål' %}selected{% endif %}>Bokmål</option>
                    <option value="norwegian-nynorsk" {% if bibliography.language == 'norwegian-nynorsk' %}selected{% endif %}>Nynorsk</option>
                    <option value="english" {% if bibliography.language == 'english' %}selected{% endif %}>Engelsk</option>
                </select>

                <select name="style">
                    <option value="apa" {% if bibliography.style == 'apa' %}selected{% endif %}>APA</option>
                    <option value="chicago" {% if bibliography.style == 'chicago' %}selected{% endif %}>Chicago</option>
                    <option value="harvard" {% if bibliography.style == 'harvard' %}selected{% endif %}>Harvard</option>
                    <option value="vancouver" {% if bibliography.style == 'vancouver' %}selected{% endif %}>Vancouver</option>
                    <option value="american-medical-association" {% if bibliography.style == 'american-medical-association' %}selected{% endif %}>American Medical Association</option>
                </select>
                <button type="submit">Endre</button>

                {% if output == 'blur' %}
                <a href="/paywall" id="clarify">Synliggjør med <img src="/vipps_button.png" /></a>
                {% endif %}
            </div>

            <div id="afour">
                <h2>Litteraturliste<h2>

            {% for identifier, reference in formatted_bibliography %}
                <button name="identifier" value="{{ identifier }}" type="submit">✕</button>

                {% if output == 'blur' %}
                <div class="reference">
                    <img src="data:image/png;base64,{{ reference }}" />
                </div>
                {% elif output == 'bibliography' %}
                {{ reference|safe }}
                {% endif %}

            {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}
