{% extends "base.html" %}
{% block head %}{% if status == 'HOLD' %}<meta http-equiv="refresh" content="5;url={{ request.url }}" />{% endif %}{% endblock %}
{% block title %} - Vipps{% endblock %}
{% block body %}
    {% include 'bar.html' %}

    <form method="post">
        <div id="vipps">
            {% if status == 'PAY' %}
            <p>Vennligst tast inn mobilnummeret ditt for å kopiere litteraturlisten.</p>
            {% elif status == 'HOLD' %}
            <p>Vennligst vent til forespørselen din har blit behandlet.</p>
            {% elif status == 'REQUESTED' %}
            <p>Du har motatt en Vipps-forespørsel. Vennligst godta transkajonen for å få tilgang.</p>
            {% endif %}

            <div id="receipt">
                <img id="logo" src="vipps.png" />
                <span id="price">Kr <span id="amount">15,</span>00</span>
                <span id="product">Litteraturliste fra LittList</span>
            </div>

            {% if status == 'PAY' %}
            <input type="tel" name="phone_number" placeholder="Ditt mobilnummer" />
            <button type="submit">Betal</button>
            {% endif %}
        </div>
    </form>

{% endblock %}
