<div class="feedback">
    <div class="header">
        <h1>Listen er kopiert!</h1>
        <h2>Nå gjenstår det bare å lime den inn i dokumentet ditt.</h2>
    </div>
    <div class="how-did-it-go">
        <h3>Har du noen tips til forbedringer?</h3>
        <form method="post" action="/feedback">
            <textarea name="feedback" required class="improvement"></textarea>
            <button type="submit">Send tilbakemelding</button>
        </form>
    </div>
</div>
