<div class="feedback">
    <div class="header">
        <h1>Listen er kopiert!</h1>
        <h2>Nå gjenstår det bare å lime den inn i dokumentet ditt.</h2>
    </div>
    <div class="how-did-it-go">
        <h3>Dette gikk jo som en drøm! Enig?</h3>
        <div class="fb-like" data-href="https://facebook.com/littlist.no" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.3&appId=1434843540121216";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
