        <div class="searchbar">
            <a href="/"><img class="logo" src="/img/logo-small.png"></a>
            <form id="query" method="get" action="/">
                <input type="text" name="q" {{#if query}} value="{{{query}}}" {{else}} placeholder="Søk etter bøker, nettsider eller forfattere"{{/if}}>
            </form>
            <div id="listlink">
                <a href="/liste" class="button" {{#if referencesInListCount}} data-badge="{{referencesInListCount}}" {{/if}}>Vis litteraturliste</a>
            </div>
            <div id="like">
               <img src="/img/like.png"> 
               <div class="fb-like" data-href="https://facebook.com/littlist.no" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div> 
            </div>
        </div>

        <div id="fb-root" style="display:none"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.3&appId=1434843540121216";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
