        <div class="searchbar">
            <a href="/"><img class="logo" src="/img/logo-small.png"></a>
            <form id="query" method="get" action="/">
                <input type="text" name="q" value="{{{query}}}">
            </form>
            <div id="listlink">
                <button onclick="document.location='/liste'" type="submit" data-badge="{{count}}">Vis litteraturliste</button>
            </div>
        </div>
