        <div class="results">
            <a href="/"><img class="logo" src="/img/logo-small.png"></a>

            <form id="query" method="get">
                <input type="text" name="q" value="{{{query}}}">
            </form>
        </div>
