        <div class="searchbar">
            <a href="/"><img class="logo" src="/img/logo-small.png"></a>
            <form id="query" method="get" action="/">
                <input type="text" name="q" value="{{{query}}}">
            </form>
            <form id="listlink" method="get" action="/liste">
                <button type="submit" data-badge="{{count}}">Vis litteraturliste</button>
            </form>
        </div>
