<div class="testimonials">
    <a id="studenttorget" class="testimonial" href="http://www.studenttorget.no/index.php?show=5709&expand=3795,41,5709&artikkelid=13083" target="_blank"></a>
    <a id="universitetsavisa" class="testimonial" href="http://www.universitetsavisa.no/student/article42727.ece" target="_blank"></a>
    <a id="gemini" class="testimonial" href="http://gemini.no/notiser/2013/11/slit-med-litteraturlister-saga-blott/" target="_blank"></a>
    <a id="oblad" class="testimonial" href="http://www.oblad.no/ung/litteraturlister-suger-1.8198376" target="_blank"></a>
</div>
