<div class="testimonials">
    <a id="studenttorget" class="testimonial" href="http://www.studenttorget.no/index.php?show=5709&expand=3795,41,5709&artikkelid=13083"></a>
    <a id="universitetsavisa" class="testimonial" href="http://www.universitetsavisa.no/student/article42727.ece"></a>
    <a id="gemini" class="testimonial" href="http://gemini.no/notiser/2013/11/slit-med-litteraturlister-saga-blott/"></a>
    <a id="oblad" class="testimonial" href="http://www.oblad.no/ung/litteraturlister-suger-1.8198376"></a>
</div>
