<div class="tips">
    <p class="tip">LittList har fått en rekke oppdateringer! Les om endringene <a href="/innlegg">her.</a></p>
    {{!--
    <p class="tip"><a id="wiki" href="#">Prøv</a> å lim inn en Wikipedia-lenke for å legge til dens referanser.</p>
    <p class="tip">Dårlig fantasi? Prøv å legg til <a id="fifty" href="#">"Fifty shades of grey"</a>.</p>
    <p class="tip">Du kan også lime inn lenker fra Store norske leksikon, <a id="snl" href="#">test det ut</a>!</p>
    <p class="tip">Sparte du tid og frustrasjon? Hjelp å <a id="del" href="https://fb.com/littlist.no">spre</a> LittList!</p>

    <span>·</span>
    <span>·</span>
    <span>·</span>
    <span>·</span>
    <span>·</span>
    --}}
</div>

{{!-- <script type="text/javascript" src="/js/tips.js"></script> --}}
